<div id="login-box-header" class="dashboard">
  <h2>Hey {{ userData.displayName }} ...</h2>
  <div class="logout">
    <a class="logoutBtn smGlobalBtn" (click)="logout()"></a>
  </div>
</div>

<div id="login-box" class="dashboard">
  <div class="top todolist">
    <form #todoForm="ngForm" name="todoForm">
      <input type="text" class="form-control" id="todoItem" placeholder="todo Item" [(ngModel)]="todoItem" name="todoItem" required>
      todoITEM: {{ todoItem }} 
      <button type="submit" class="addBtn smGlobalBtn2 mt-0" style="margin-bottom: 20px" (click)="addTodo()"></button>
    </form>

    <ul>
      <li *ngFor="let todo of userData.todoList">
        {{ todo }}
        <a class="deleteBtn" (click)="deleteTodo(todo)">
          <i class="fa fa-trash-o"></i>
        </a>
      </li>
    </ul>
    <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="deleteAll()" value="Delete All"
    />
  </div>

</div>
