@mixin mediaSm{
    @media screen and (max-width:500px){
        #login-box-header{
            margin: 2em;
            border: 2px solid red !important;
            background: red;
        }
    }
}

@mixin mediaMd{
    @media screen and (max-width:768px){
        border: 2px solid green !important;
        background: green;
    }
}

@mixin mediaLg{
    @media screen and (min-width:769px) and (max-width:1170px){
        @content;
    }
}

@mixin mediaXl{
    @media screen and (min-width:1171px){
        @content;
    }
}



