<div id="login-box">
  <div class="top">
    <form #loginform="ngForm" name="userform">
      <input type="email" class="form-control" id="InputEmail1" placeholder="Email" [(ngModel)]="user.email" name="email" required>
      <input type="password" class="form-control" id="InputPassword" placeholder="Password" [(ngModel)]="user.password" name="password"
        required>
      <input type="text" class="form-control" id="InputeDisplayName" placeholder="Nick Name" [(ngModel)]="user.displayName" name="displayName"
        required>

      <input type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px" [disabled]="loginform.form.invalid" (click)="signUpWithEmail()"
        value="SignUp" />
    </form>
  </div>

</div>
